@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.ttf');
}

body {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Light.ttf');
}

.container {
    width: auto;
    height: auto;
    margin: 0 auto;
}

#info {
    width: 70%;
    float: right;
    height: 100%;
}

#sidebar {
    background-color: #0000FF;
    width: 30%;
    float: left;
    height: 100%;
    color: white;
}

#ava {
    text-align: center;
    background-color: #0000B0;
    height: 100%;
    align-items: top;
}

#contact {
    margin-left: 10px;
}

#detail {
    margin-left: 10px;
    margin-right: 10px;
}

#education {
    margin-left: 20px;
}

#work_experience {
    margin-left: 20px;
}

#achievement {
    margin-left: 20px;
}

.timeline {
    text-align: right;
}

.notes {
    margin-top: 0px;
    margin-bottom: 0px;
}

.leftIcon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.rightIcon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px
}

.blank
{
    background-color: white;
    width:100%;
    height: 12px;
}

.skills {
    margin-bottom: 0px;
}

#problemsolving
{
    background-color: #0D1A81;
    width: 90%;
    height: 12px;
}

#selfconfident
{
    background-color: #0D1A81;
    width: 60%;
    height: 12px;
}

#creative
{
    background-color: #0D1A81;
    width: 40%;
    height: 12px;
}

#teamwork
{
    background-color: #0D1A81;
    width: 70%;
    height: 12px;
}

#adaptability
{
    background-color: #0D1A81;
    width: 70%;
    height: 12px;
}

#criticalobservation
{
    background-color: #0D1A81;
    width: 80%;
    height: 12px;
}
