/* CSS Document */
#search{
    float: left;
    width: 400px;
    height: 35px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

.icon-search{
    background-image: url(images/1.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100% auto;
}

.toinput{
    float: left;
    width: 350px;
    margin-left: 8px;
    padding-top: 3px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}

.btn{
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
    padding: 0;
}

.navbar{
    margin-top: 10px;
    height: 48px;
    background: #ddd;
}

.navbar ul{
    font-size: 14px;
}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.navbar .current,
.navbar ul li a:hover{
    background: #fff;
    color: #c00;
    border-bottom: 1px solid #c00;
}

.content-item{
    width: 975px;
    margin-top: 15px;
}

.item{
    height: 375px;
    width: 310px;
    margin: 0 15px 15px 0px;
    float: left;
    background: #fff;
    border-radius: 2px;
    min-height: 300px;
}

.image{
    text-align: center;
}

.image img{
    width: 100%;
    height: 203px;
}

.item-content{
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.review{
    float: left;
    margin-right: 10px;
    background: #03ae03;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    display: block;
    width: 32px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    overflow: hidden;
}

.name{
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 0 0 3px;
    font-weight: 700;
}

.comment{
    clear: both;
    border-top: #f6f6f6 1px solid;
    overflow: hidden;
    padding: 10px;
}

.bottom_block{
    width: 100%;
}
