@font-face{
    font-family: 'Tahoma';
    src: url('C:\Windows\Fonts\Tahoma.ttf');
}
body
{
    background-image: url("a.png");
    font-family: Tahoma, Segoe, sans-serif;
    color: black;
}
